@import "../../common/theme.css";

html {
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: 400;
}

body {
  height: 100%;
  margin: 0;
}

.app-root {
  height: 100%;

  & .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;

    & header {
      flex: 0 0 auto;
    }

    .main-section {
      flex: 1 0 auto;
      background: var(--clouds);
    }

    footer {
      flex: 0 0 auto;
    }
  }
}
