@import "./theme.css";

.button {
  border: none;
  padding: 15px;
  font-size: 15px;
  width: 150px;
  overflow: hidden;
  color: var(--white);
  background: var(--asbestos);
  cursor: pointer;
  border-radius: 5px;
  transition: all ease-in .5s;
  outline: none;

  &:disabled, [disabled=disabled] {
    background: var(--clouds);
  }

  &:hover {
    background: var(--silver);
  }

  &.large {
    width: 200px;
    padding: 20px;
    font-size: 20px;
    font-size: 16px;
  }

  &.small {
    width: 100px;
    padding: 10px;
    font-size: 13px;
  }

  &.block {
    width: 100%;
  }

  &.default {
    color: var(--concrete);
  }

  &.success {
    background: var(--green-sea);

    &:hover {
      background: var(--turquoise);
    }
  }

  &.warning {
    background: var(--carrot);

    &:hover {
      background: var(--orange);
    }
  }

  &.info {
    background: var(--peter-river);
  }

  &.error {
    background: var(--alizarin);
  }
}
