@import '../../common/theme.css';

.nav {
  vertical-align: middle;
}

.nav ul {
  display: flex;
  justify-content: space-around;
}

.nav li {
  list-style: none;
  margin: 0 10px;
}

.nav li a {
  font-size: 16px;
  color: var(--asbestos);
  text-decoration: none;
}
